
@{
    ViewBag.Title = "Detalhes";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Detalhes de Reserva</h1>
    </div>
</section>

<div>
    <p>
        @Html.ActionLink("Histórico de Reservas", "Historico")
    </p>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Código do Serviço</dt>
        <dd class="col-sm-9">1</dd>

        <dt class="col-sm-3">Cidade</dt>
        <dd class="col-sm-9">Coimbra</dd>

        <dt class="col-sm-3">Descrição</dt>
        <dd class="col-sm-9">Fórum Coimbra</dd>

        <dt class="col-sm-3">Rede Proprietária</dt>
        <dd class="col-sm-9">MOBI.E</dd>

        <dt class="col-sm-3">Nº do Posto de Carregamento</dt>
        <dd class="col-sm-9">4</dd>

        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">16/11/2019</dd>

        <dt class="col-sm-3">Hora Início</dt>
        <dd class="col-sm-9">15:30</dd>

        <dt class="col-sm-3">Hora Fim</dt>
        <dd class="col-sm-9">16:30</dd>

        <dt class="col-sm-3">Preço</dt>
        <dd class="col-sm-9">0,53€</dd>
    </dl>

    <button class="btn btn-danger">Cancelar Reserva</button>
</div>



