@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        margin-top: 20px;
        background-image: url("../Resources/background.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    input,
    select,
    textarea {
        max-width: 100%;
    }
</style>

<section>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">E-Recarga</h1>
            <p class="lead">Reserva de Postos de Carregamento para Veículos Elétricos</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Postos de Carregamento Disponíveis &raquo;</a></p>
        </div>
    </div>
</section>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">e-Recarga</h1>
        <p class="lead">Entidade comum de redes proprietárias, com vista a facilitar a utilização dos postos de carregamento por parte dos condutores de veículos elétricos. </p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Utilizadores</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">0€ <small class="text-muted">/ mês</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Reserva de Postos de Carregamento</li>
                        <li>Débito Direto dos Carregamentos</li>
                        <li>Mais Fácil e Cómodo</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Registe-se</button>
                </div>
            </div>
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Redes Proprietárias</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Profissional</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Divulgação dos Postos de Carregamento</li>
                        <li>Vasta Comunidade de Utilizadores</li>
                        <li>Acesso a Estatísticas de Utilização</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Contacte-nos</button>
                </div>
            </div>
        </div>
    </div>

